{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Restaurant Introduction -->
    <div> <img src="{% static '/assets/imgs/imgage_goes_here.jpg' %}" alt="" style="width: 300px;"></div>
    <div class="jumbotron" style="background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('{% static "assets/imgs/romanesco.jpg" %}') no-repeat center center; background-size: cover; height: 500px;">
        <h1 class="display-4">Welcome to GreenTable!</h1>
        <p class="lead">Experience the finest vegan dining with us. Discover our exquisite green menu and book a table to enjoy a memorable vegan meal.</p>
        <hr class="my-4">
        <p>Ready to reserve a table? Click below to begin.</p>
        <a class="btn btn-success btn-lg" href="{% url 'list_tables' %}" role="button">Book Now</a>  <!-- Green color for button -->
    </div>

    <!-- Glimpse of the Menu -->
    <h2>Featured Dishes <img src="{% static 'path_to_image_1.jpg' %}" alt="" style="width: 250px;"></h2> <!-- Vegan icon -->
    <div class="row">
        <!-- Placeholder for dishes; -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'assets/imgs/asparagus.jpg' %}" class="card-img-top" alt="Dish Image 1">
                <div class="card-body">
                    <h5 class="card-title">Verde Essence Asparagus:</h5>
                    <p class="card-text">A delicate composition featuring fresh, crisp asparagus spears artistically presented atop a velvety, 
                        light-green puree. Enhanced with subtle hints of garden-fresh herbs and a sprinkle of sesame seeds, 
                        this dish embodies the essence of spring and the rejuvenation of nature. 
                        The dish is beautifully garnished with tender sprigs of mint and drizzled with a vibrant, citrus-infused oil. 
                        A symphony of flavors and textures designed to delight both the eye and the palate.</p>
                </div>
            </div>
        </div>
        <!-- ... Repeat for other dishes ... -->
    </div>
</div>
{% endblock %}

