{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Restaurant Introduction -->
    <div> <img src="{% static '/assets/imgs/imgage_goes_here.jpg' %}" alt="Vegan Friendly" style="width: 300px;"></div>
    <div class="jumbotron" style="background: url('{% static "assets/imgs/romanseco.jpg" %}') no-repeat center center; background-size: cover; color: none; height: 500px;">
        <h1 class="display-4">Welcome to GreenTable!</h1>
        <p class="lead">Experience the finest vegan dining with us. Discover our exquisite green menu and book a table to enjoy a memorable vegan meal.</p>
        <hr class="my-4">
        <p>Ready to reserve a table? Click below to begin.</p>
        <a class="btn btn-success btn-lg" href="{% url 'list_tables' %}" role="button">Book Now</a>  <!-- Green color for button -->
    </div>

    <!-- Glimpse of the Menu -->
    <h2>Featured Dishes <img src="{% static 'imgage_goes_here.jpg' %}" alt="Vegan Friendly" style="width: 30px;"></h2> <!-- Vegan icon -->
    <div class="row">
        <!-- Placeholder for dishes; -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'path_to_image_1.jpg' %}" class="card-img-top" alt="Dish Image 1">
                <div class="card-body">
                    <h5 class="card-title">Dish Name 1</h5>
                    <p class="card-text">Short description of the dish.</p>
                </div>
            </div>
        </div>
        <!-- ... Repeat for other dishes ... -->
    </div>
</div>
{% endblock %}

